<table class="table table-hover">
   <thead>
   <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Job Title</th>
      <th>Grade</th>
      <th>&nbsp;</th>
   </tr>
   </thead>
   <tbody>
   <tr ng-repeat="student in studentsCtrl.students track by $index">
      <th scope="row">{{student.id}}</th>
      <td>{{student.first_name}}</td>
      <td>{{student.last_name}}</td>
      <td>{{student.gender}}</td>
      <td>{{student.email}}</td>
      <td>{{student.job_title}}</td>
      <td>{{student.grade}}</td>
      <td>
         <span class="fui-new"></span>
         <span class="fui-cross" ng-click="studentsCtrl.deleteStudent(student)"></span>
      </td>
   </tr>

   </tbody>
</table>